.jumbotron {
    text-align: center;
    background:rgb(59, 59, 59);
    color:white;
    font-weight:1200;
  }


  form {
    padding:20px;
  }

  .col-4 {
    background:rgb(228, 228, 228);
    height:100vh;
  }