.jumbotron {
    text-align: center;
    background:rgb(59, 59, 59);
    color:white;
    font-weight:1200;
  }


  form {
    padding:20px;
  }

  .col-sm-4 {
   float:left;
  }

  
form button {
  background-color: rgb(48, 128, 231);
  color:white;
}

form button:hover{
background-color: rgb(7, 0, 100);
}

#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
 background-color: rgb(48, 128, 231);
 display: flex;
 justify-content: space-around;
 margin:10px;
}

#dayslist {
  display:flex;
  flex-direction: row;
}