.jumbotron {
    text-align: center;
    background:rgb(59, 59, 59);
    color:white;
    font-weight:1200;
  }

  #container {
    background: darkblue;
  }

  form {
    padding:20px;
  }

  .col-sm-4 {
   float:left;
  }

  
form button {
  background-color: rgb(48, 128, 231);
  color:white;
}

form button:hover{
background-color: rgb(7, 0, 100);
}

#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
 background-color: rgb(48, 128, 231);
 display: flex;
 justify-content: space-around;
 margin:10px;
}

#dayslist {
  display:flex;
  flex-direction: row;
}

#topbox {
  background-color: rgb(148, 148, 160);
}

#topbox {
  border:solid;
  align-items: center;
}

#searching {
  background: rgb(131, 131, 131);
  border:solid;
  align-items: center;
}

#history {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding:10px;
}

.list-group-item {
  margin:5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.list-group-item:hover {
  margin:5px;
  background-color: teal;
}

#col-md-2 {
  border:solid;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin:30px;
}


.fivedayContainer {
  background:rgb(91, 134, 145);
  width:200px;
  border:solid;
  padding:3px;
  margin:4px;
}